@use "../../../vars";
@use "../list";


.card {
    @include list.card;

    box-shadow: 0.1em 0.1em 0.5em #000;

    &.selected {
		box-shadow: 0.1em 0.1em 0.5em gold;
    }

    // We have nested stuff so we need to re-pad
    padding: 0;

    .header {
        padding: vars.$gutter;
        border-radius: vars.$card-br vars.$card-br 0 0;

        background-color: var(--table-header-background);

        display: flex;
        flex-direction: row;

        .title {
            flex: 1;

            font-size: 1.25em;
            font-family: var(--h1-font);
            font-style: var(--h1-style);
            font-variant: var(--h1-variant);

            &.h1 {
                font-weight: var(--h1-weight);
            }
        }

        [data-icon="link"] {
            aspect-ratio: 1 / 1;
        }
    }

    .info {
        padding: vars.$gutter;

        display: flex;
        flex-direction: column;
        gap: vars.$gutter;

        [data-icon] {
            // We are using `clickable-icon` class
            // from Obsidian, but don't want to actually make
            // the icon clickable
            pointer-events: none;
        }

        .tags {
            color: var(--tag-color);
        }

        .state {
            display: flex;
            flex-direction: row;
            align-items: center;

            [data-icon]:not(:first-of-type) {
                margin-inline-start: 1em;
            }
        }

        .invalid {
            color: var(--color-red);
        }
    }
}
