@use "../../../vars";
@use "../list";


.card {
    @include list.card;

    &.selected {
		box-shadow: 0.1em 0.1em 0.5em gold;
    }

    // We have nested stuff so we need to re-pad
    padding: 0;

    .header {
        padding: vars.$gutter;
        border-radius: vars.$card-br vars.$card-br 0 0;

        background-color: var(--table-header-background);

        display: flex;
        flex-direction: row;
        gap: vars.$gutter;

        .title {
            flex: 1;

            font-size: 1.25em;
            font-family: var(--h1-font);
            font-style: var(--h1-style);
            font-variant: var(--h1-variant);

            &.h1 {
                font-weight: var(--h1-weight);
            }
        }

        :global(.clickable-icon) {
            aspect-ratio: 1 / 1;
            height: fit-content;
        }
    }

    .info {
        padding: vars.$gutter;

        display: flex;
        flex-direction: column;
        gap: vars.$gutter;

        [data-icon] {
            // We are using `clickable-icon` class
            // from Obsidian, but don't want to actually make
            // the icon clickable
            pointer-events: none;
        }

        .state {
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: vars.$gutter;

            progress {
                appearance: none;

                flex: 1;
                height: 0.5em;
            }

            progress[value]::-webkit-progress-bar {
                background: var(--background-primary-alt);
                border: 1px solid var(--background-modifier-border);
                border-radius: 3px;
            }

            progress[value]::-webkit-progress-value {
                background: var(--background-modifier-border);
            }

            code {
                opacity: 75%;
            }
        }

        .tags {
            color: var(--tag-color);
        }

        .invalid {
            color: var(--color-red);
        }
    }
}
