@use "../../../vars";
@use "../list";


.card {
    @include list.card;

    // We have nested stuff so we need to re-pad
    padding: 0;

    .header {
        padding: vars.$pad;
        border-top-left-radius: list.$card-border-radius;
        border-top-right-radius: list.$card-border-radius;

        background-color: var(--table-header-background);

        display: flex;
        flex-direction: row;
        gap: vars.$gap;

        .title {
            flex: 1;

            font-size: 1.25em;
            font-family: var(--h1-font);
            font-style: var(--h1-style);
            font-variant: var(--h1-variant);

            &.h1 {
                font-weight: var(--h1-weight);
            }
        }
    }

    .info {
        padding: vars.$pad;

        display: flex;
        flex-direction: column;
        gap: vars.$gap;

        .state {
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: vars.$gap;

            progress {
                appearance: none;

                flex: 1;
                height: 0.5em;
            }

            progress[value]::-webkit-progress-bar {
                background: var(--background-primary-alt);
                border: 1px solid var(--background-modifier-border);
                border-radius: 3px;
            }

            progress[value]::-webkit-progress-value {
                background: var(--background-modifier-border);
            }

            code {
                opacity: 75%;
            }
        }

        .tags {
            color: var(--tag-color);
        }

        .invalid {
            color: var(--color-red);
        }
    }
}
