@use "../../../vars";

.progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: vars.$gap / 2;

    &.reverse {
        flex-direction: row-reverse;
    }

    text-wrap: nowrap;

    progress {
        appearance: none;

        flex: 1;
        height: 0.5em;
    }

    progress[value]::-webkit-progress-bar {
        background: var(--background-primary-alt);
        border: 1px solid var(--background-modifier-border);
        border-radius: 3px;
    }

    progress[value]::-webkit-progress-value {
        background: var(--background-modifier-border);
    }
}
