@use "../../../vars";
@use "../list";


.card {
    @include list.card;

    display: flex;
    flex-direction: column;
    gap: vars.$gap;

    border: 1px solid var(--background-modifier-border);
}


.single {
    display: flex;
    flex-direction: row;
    gap: vars.$gap;

    .count {
        flex: 1;
        opacity: 60%;
    }
}
