@use "../../vars";


$card-border-radius: 0.25rem;
$card-box-shadow: 0.1rem 0.1rem 0.5rem var(--background-modifier-box-shadow);


@mixin list {
    padding: vars.$pad;

    display: flex;
    flex-direction: column;
    gap: vars.$gap;

    overflow-y: scroll;
}


@mixin card {
    border: 1px solid var(--background-modifier-border);
    border-radius: $card-border-radius;

    box-shadow: $card-box-shadow;

    padding: vars.$pad;

    background-color: var(--background-primary);
}
