@use "../../vars";


@mixin list {
    padding: (vars.$gutter * 2) vars.$gutter;

    display: flex;
    flex-direction: column;
    gap: vars.$gutter * 2;

    overflow-y: scroll;
}


@mixin card {
    border: 1px solid var(--background-modifier-border);
    border-radius: vars.$card-br;

    box-shadow: 0.1em 0.1em 0.5em var(--background-modifier-box-shadow);

    padding: vars.$gutter;

    background-color: var(--background-primary);
}
