@use "../../vars";

$gap: vars.$gap / 2;
$pad: (vars.$pad / 2) (vars.$pad / 4);

.calendar {
    padding: vars.$pad;

    display: flex;
    flex-direction: column;
    gap: $gap;

    border-bottom: 1px solid var(--background-modifier-border);
}

.header {
    display: flex;
    align-items: center;

    font-size: 1.25em;

    .break {
        margin: 0 ($gap / 2);

        width: 0;
        height: 100%;

        border-left: 1px solid var(--background-modifier-border);
    }

    .controls {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: $gap;
    }
}

.weekRow {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: $gap;

    justify-items: center;

    > * {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: smaller;
    }

    .note.today {
        border: 2px solid var(--background-modifier-border);
    }
}

.weekHeader {
    @extend .weekRow;

    border-bottom: 1px solid var(--background-modifier-border);

    text-transform: uppercase;

    > * {
        opacity: 50%;
    }
}

.note {
    padding: $pad;

    &.exists {
        font-weight: bold;
    }

    &.year {
        color: var(--interactive-accent);
    }

    &.week {
        color: var(--italic-color);

        &:active {
            color: var(--icon-color-focused);
        }
    }

    &.day.otherMonth {
        opacity: 50%;
    }

    &.disabled {
        pointer-events: none;
    }
}
