@use "../../vars";


.daily {
    padding: vars.$pad;
    display: flex;
    flex-direction: column;
    gap: vars.$gap;

    overflow-y: scroll;

    .clock {
        display: flex;
        flex-direction: row;
        gap: vars.$gap;

        font-size: 1.2em;
        font-weight: bold;

        time.date {
            flex: 1;
        }

        time.time {
            color: var(--color-accent);
        }
    }

    .task .separator {
        color: var(--color-accent);
    }
}


.taskSchedule {
    position: relative;

    $border-passive: var(--background-modifier-border);
    $border-active: var(--color-accent);

    .guide {
        width: 100%;
        height: 120px;
        border-top: 1px solid $border-passive;

        padding: 0 0.5ch;
    }

    .task {
        position: absolute;
        z-index: attr(data-z);
        left: 7ch;
        width: calc(100% - 6ch - vars.$pad);
        min-height: 1px;

        border: 1px solid $border-passive;
        border-left: 4px solid $border-passive;

        overflow-y: hidden;

        &:hover {
            z-index: 1000;
            overflow-y: visible;

            border: none;
            border-left: 4px solid $border-active;

            .contents {
                border: 1px solid $border-active;
            }
        }

        .contents {
            height: auto;
            min-height: 100%;
            padding: vars.$pad * 0.25;

            background: var(--background-primary);
            border-left: 1px solid var(--background-primary);

            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: repeat(2, auto);

            column-gap: vars.$gap;

            .start {
                grid-area: 1 / 1;
                color: var(--text-muted);
            }

            .end {
                grid-area: 2 / 1;
                align-self: end;
                color: var(--text-muted);
            }

            .text {
                grid-area: 1 / 2 / 3;

                .icon {
                    float: right;
                }
            }
        }
    }

    .now {
        position: absolute;
        z-index: 1001;

        width: 100%;
        border-top: 1px dashed var(--color-accent);

        pointer-events: none;

        &::before {
            content: attr(data-time);

            padding: 0 0.5ch;

            color: var(--background-modifier-border);
            background-color: var(--color-accent);

            font-weight: bold;
        }
    }
}


.taskList {
    display: flex;
    flex-direction: column;

    .task {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
