@use "../../vars";

.tree {
    padding: vars.$pad;
    overflow-y: scroll;
}

.directory {
    display: grid;
    grid-template-areas:
        "icon  name    "
        "guide contents";
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    gap: vars.$gap / 2;

    .icon {
        grid-area: "icon";
    }

    .name {
        grid-area: "name";
        align-self: center;

        font-family: var(--font-monospace);
    }

    .guide {
        grid-area: "guide";

        width: 50%;
        border-inline-end: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
    }

    .contents {
        grid-area: "contents";

        display: flex;
        flex-direction: column;
        gap: vars.$gap / 4;

        .directory {

        }

        .note {
            &.index {
                color: var(--italic-color);
            }
        }
    }

    .hidden {
        &.contents,
        &.guide {
            display: none;
        }
    }
}
