@use "../../vars";

.tree {
    padding: vars.$pad;
    overflow-y: scroll;
}

.directory {
    display: flex;
    flex-direction: column;
    gap: vars.$gap / 2;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: vars.$gap / 2;

        span {
            flex-grow: 1;
            font-family: var(--font-monospace);
        }
    }

    .contents {
        display: flex;
        flex-direction: column;
        gap: vars.$gap / 4;

        margin-left: vars.$pad;

        &.hidden {
            display: none;
        }
    }

    .directory {

    }

    .note {
        &.index {
            color: var(--italic-color);
        }
    }
}
