@use "../../vars";
@use "./list";


.controls {
    padding: vars.$pad;
    border-bottom: 1px solid var(--background-modifier-border);

    display: flex;
    flex-direction: column;
    gap: vars.$gap;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: vars.$gap;

    > span {
        flex: 1;

        font-size: 1.2em;
        font-weight: bold;
        color: var(--tag-color);
    }
}

.list {
    @include list.list;
}
