@use "../../vars";
@use "../list";


.controls {
    padding: vars.$pad;
    border-bottom: 1px solid var(--background-modifier-border);

    display: flex;
    flex-direction: column;
    gap: vars.$gap;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: vars.$gap / 2;

    .rootBroken {
        color: var(--text-error);
    }

    span.displayingWhat {
        color: var(--tag-color);
    }

    .displayingWhat {
        width: 100%;
        overflow-x: clip;
    }
}

.list {
    @include list.list;
    padding: vars.$pad;
    overflow-y: scroll;
}
