@use "../../vars";
@use "./list";


.controls {
    padding: vars.$pad;
    border-bottom: 1px solid var(--background-modifier-border);

    display: flex;
    flex-direction: column;
    gap: vars.$gap;

    --justify-content: end;

    > * {
        width: 100%;

        display: flex;
        flex-direction: row;
        gap: vars.$gap;
        justify-content: var(--justify-content);
        align-items: center;
    }

    [data-icon] {
        aspect-ratio: 1 / 1;
    }
}

.tagHeader {
    --justify-content: start;

    display: flex;
    flex-direction: row;
    align-items: center;

    > span {
        flex: 1;

        font-size: 1.2em;
        font-weight: bold;
        color: var(--tag-color);
    }
}

.list {
    @include list.list;
}
