@use "../../vars";

.paginator {
    display: flex;
    flex-direction: column;
    gap: vars.$gutter;

    > * {
        display: flex;
        flex-direction: row;
        gap: vars.$gutter;
        align-items: baseline;
    }

    select {
        flex-grow: 1;
    }
}
