@use "../../vars";
@use "./list";


.list {
    @include list.list;

    font-size: 1.25em;
}


.wildcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    gap: vars.$gutter;

    > * {
        @include list.card;

        aspect-ratio: 4 / 3;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: vars.$gutter;

        font-size: 0.8em;
        text-wrap: nowrap;

        cursor: pointer;

        svg {
            height: var(--icon-xl);
            width: var(--icon-xl);
        }
    }
}
