@use "../../vars";
@use "../list";


.wildcards {
    padding: vars.$pad;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    gap: vars.$gap;

    > * {
        @include list.card;

        aspect-ratio: 4 / 3;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: vars.$gap;

        font-size: 0.8em;
        text-wrap: nowrap;

        cursor: pointer;

        svg {
            height: var(--icon-xl);
            width: var(--icon-xl);
        }
    }
}
