@use "sass:math";

.triToggle {
    $height: 1.5em;
    $width: $height;
    $slider-factor: 0.7;

    position: relative;

    box-sizing: content-box;

    height: $height;
    width: $width * 3;

    border: 2px solid var(--background-modifier-border);
    border-radius: math.div($height, 2);

    display: flex;
    flex-direction: row;
    align-items: center;

    .slider {
        position: absolute;
        background-color: white;

        height: $height * $slider-factor;
        width: $height * $slider-factor;

        margin: math.div(((1 - $slider-factor) * $height), 2);
        border-radius: 50%;

        transition: 0.1s all ease-in-out;

        // Technically, the following are not text, but the error, warning and success
        // are used because the themes might use a background color that would be incompatible
        // with explicitly specified --color-red, --color-yellow and --color-green.

        &.off {
            left: 0;
            background-color: var(--text-error);
        }

        &.maybe {
            left: 33%;
            background-color: var(--text-faint);
        }

        &.on {
            left: 67%;
            background-color: var(--text-success);
        }
    }

    input[type="radio"] {
        appearance: none;
        margin: 0;

        height: $height;
        width: $width;
    }
}
