div[data-type="ftvkyo-navigation"] {
    p,h1,h2,h3,h4,h5,h6 {
        margin: 0;
        padding: 0;
    }

    div.view-content {
        display: flex;
        flex-direction: column;
        gap: 1em;

        select {
            padding: 0.5em 1em;
        }
    }

    a.note-card {
        border: 1px solid #ccc;
        border-radius: 0.5em;

        padding: 1em;

        code {
            opacity: 0.75;
            font-size: 0.75em;
        }
    }
}
