$gutter: 0.5em;

div.workspace-leaf-content[data-type^="ftvkyo-"] {
    p,h1,h2,h3,h4,h5,h6 {
        margin: 0;
        padding: 0;
    }

    select {
        // Make look good
        padding: $gutter 1em;
    }

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25em;

        select {
            flex-grow: 1;
        }
    }

    // Obsidain-provided class
    div.view-content {
        padding: 0;

        height: 100%;

        display: flex;
        flex-direction: column;
    }

    div.view-controls {
        padding: $gutter;
        border-bottom: 1px solid var(--background-modifier-border);

        display: flex;
        flex-direction: column;
        gap: $gutter;
    }

    div.note-filter {
        display: grid;
        grid-template-areas:
            "tag  tag  "
            "type check";

        gap: $gutter;

        .tag {
            grid-area: tag;
        }

        .type {
            grid-area: type;
        }

        .check {
            grid-area: check;

            display: flex;
            flex-direction: column;
            gap: $gutter;
        }
    }

    div.note-paginator {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: $gutter;

        .sort {
            flex-grow: 1;
        }
    }

    div.note-list {
        grid-row: 2;
        overflow-y: scroll;

        padding: ($gutter * 2) $gutter;

        display: flex;
        flex-direction: column;
        gap: $gutter * 2;
    }

    $card-br: 0.25em;

    div.note-card {
        border-radius: $card-br;
        box-shadow: 0.1em 0.1em 0.5em #000;

        background-color: var(--background-primary);

        display: grid;
        grid-template-areas:
            "title title   "
            "info  controls";

        > * {
            display: flex;
            gap: 0.25em;

            padding: $gutter;
        }

        .title {
            grid-area: title;
            flex-direction: column;

            border-radius: $card-br $card-br 0 0;
            background-color: var(--table-header-background);

            p {
                font-size: 1.25em;
            }

            code {
                opacity: 0.75;
            }
        }

        .info {
            grid-area: info;

            flex-direction: row;

            // We are using `clickable-icon` class
            // from Obsidian, but don't want to actually make
            // the icon clickable
            pointer-events: none;
        }

        .controls {
            grid-area: controls;

            flex-direction: row-reverse;
        }
    }
}

div.callout[data-callout="plan"] {
    --callout-color: 128, 200, 128;
    --callout-icon: lucide-calendar;
}
